.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    top: -2px;
    padding: 1.5rem 1rem;
    background-color: white;
    gap: 2rem;

    z-index: 2;

    border: 1px solid lightgray;
    border-bottom: 0px;

    > div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        max-height: 48px;
        width: auto;
        align-self: center;
    }

    h1 {
        text-align: left;
        margin: 0;
        align-self: center;
        font-size: 2rem;
        font-weight: 600;
    }

    > section {
        flex-direction: column;
    }

    > p {
        font-size: 0.95rem;
        color: #555;
    }

    strong {
        font-weight: 400;
    }

    @media screen and (max-width: 1024px) {
        position: relative;
        top: initial;
        flex-direction: row;
        > div {
            max-height: auto;
            flex-direction: row;
        }
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        h1 {
            font-size: 1.5rem;
        }
        > div {
            flex-direction: column;
            width: 100%;
            max-height: initial;
            z-index: initial;
        }
        @media screen and (max-width: 500px) {
            gap: 1rem;
            flex-direction: column;
            > div {
                flex-direction: column;
            }
            section p {
                padding: 0.5rem 0 1rem 0;
            }
        }
    }
}
