.pac-icon {
  display: none;
}

.pac-item {
  padding: 0.25rem 0.5rem;
}

.pac-container {
  z-index: 1501;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pac-item-query {
  margin-right: 0.5rem;
}

.big-old-container {
  border-radius: 16px;
  max-width: 1440px;
  margin: auto;
}

@media (hover: hover) {
  a.nolink:hover {
    color: black;
  }
}

a.nolink:active {
  color: black;
}

a.nolink {
  color: black;
}

.zero-available {
  /* Walt, use this */
  background-color: rgb(255, 234, 234) !important;
}

button.zero-available div p {
  color: #850707;
}

@media screen and (max-width: 500px) {
  button.zero-available {
    display: none !important;
  }
}

.cancel-booking-notice {
  background-color: rgb(58 126 210 / 11%);
  color: rgb(26 91 171);
  padding: 12px 13px;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .cancel-booking-notice.mobile {
    display: block !important;
  }
  .cancel-booking-notice.desktop {
    display: none;
  }
}

.cancel-booking-notice.mobile {
  display: none;
}

.cancel-booking-notice.desktop {
  padding: 10px 17px;
}

div.WalkSection {
  display: block;
  padding: 1.5rem 1rem;

  border: 1px solid lightgray;
  position: sticky;
  top: 0px;
  background-color: #fff;
}

div.WalkSection p {
  margin-top: 3px;
  color: #666;
}

div.WalkSection2 {
  display: block;
  padding: 1.5rem 1rem;
  border: 1px solid lightgray;
  background-color: #fff;
}

div.WalkSection2 p {
  margin-top: 3px;
  color: #666;
}

i.StupidWalkHack {
  font-weight: 400;
  font-style: normal;
}

.WalkSeeMore {
  width: 100%;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  font-family: inherit;
  color: blue;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

ol.HelpList {
  list-style: none;
  counter-reset: help-counter;
  padding-left: 0;
  margin-top: 10px;
}

ol.HelpList li {
  counter-increment: help-counter;
  position: relative;
  margin-bottom: 15px;
  padding-left: 32px;
}

ol.HelpList li::before {
  content: counter(help-counter);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #e4eeff;
  color: #005eca;
  text-align: center;
  line-height: 24px;
  margin-right: 8px;
  margin-top: -2px;
}

@media (hover: hover) {
  button.WalkSeeMore:hover {
    background: #e4eeff;
    cursor: pointer;
    background: #e4eeff;
    cursor: pointer;
  }
}

ul.NoticeList {
  list-style: none;
  padding-left: 0;
}

ul.NoticeList li {
  margin-bottom: 20px;
}

.social-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.WalkItem svg {
  margin-left: 4px;
}

.WalkInTypes {
  margin-top: 10px;
  border-radius: 14px;
  border: 1px solid #b9dacc;
  width: fit-content;
  overflow: hidden;
}

.WalkInTypes h3 {
  background-color: #e6f2ed;
  color: #006138;
  padding: 0.5rem 1rem;
}

.WalkInTypes h3 svg {
  margin-right: 10px;
}

div.WalkInTypes p {
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
}

div.WalkInTypes p:not(:first-of-type) {
  border-top: 1px solid #b9dacc;
}

.WalkModal section {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;
}

.WalkModal section p {
  font-size: 1.1rem;
}

.WalkModal section:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

[data-baseweb="select"] input[aria-hidden="true"] {
  display: none;
}

ul.af_list.af_list {
  /* this is pretty atrocious, but the element is positioned at root so we have to calculate the width manually */
  width: calc(min(100vw - 80px, 600px));
  box-sizing: border-box;
}

ul.af_list.af_list li.af_item {
  padding: 9px 13px;
  font-size: 1rem;
}

.not-bmv {
  display: block;
  background-color: #e6f2ed;
  border: 2px solid #b9dacc;
  font-weight: 500;
  border-radius: 14px;
  color: #006138;
  padding: 0.6rem 1rem;
  margin-top: 0.8rem;
}

.address-card {
  border: 2px solid lightgray;
  padding: 1rem;
  border-radius: 8px;
  display: block;
  margin: 1.5rem 0 0.5rem 0;
  display: flex;
  gap: 1rem;
  color: rgb(26 91 171);
}

.address-card:hover {
  background-color: #e4eeff;
  cursor: pointer;
}

.address-card section {
  padding: 0;
  margin: 0;
}

.address-card p {
  padding: 0;
  font-weight: 500;
  color: black;
}

.address-icon {
  font-size: 2rem;
  align-self: center;
}

.address-header {
  margin-top: 2.5rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}
.mappymap {
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  display: block;
}

.styled-tab {
  font-family: inherit;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  width: 100%;
  padding: 13px 0px;
  border-bottom: 1px solid lightgray;
  color: #0059be;
  transition: all 0.15s;
}

.styled-tab:hover {
  background-color: #e4eeff;
}

.styled-tab[aria-selected="true"] {
  color: #000;
  border-bottom-color: #000;
  background-color: white;
  cursor: default;
  font-weight: 600;
}

.styled-tabs {
  background: white;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  margin-bottom: 1.5rem;
  border-top: 1px solid lightgray;

  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
}

.styled-tabs a {
  display: block;
  flex: 1 0 auto;
}

.styled-tabs a :first-child {
  border-right: 1px solid lightgray;
}

.american-globe {
  height: 24px;
  align-content: "center";
  margin-left: 8px;
  width: 1em;
  margin-bottom: -5px;
}

@media screen and (max-width: 768px) {
  .mappymap {
    display: none;
  }
}
