body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-impt {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-size: cover, cover;
  z-index: -2 !important;
}

.background {
  z-index: -2 !important;
}

#root div:first-child {
  z-index: 1;
}

#root div:last-child {
  z-index: 2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  outline: none;
  text-decoration: none;
}

.menu-header {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.menu-divider {
  gap: 2.5rem;
  display: flex;
  align-self: center;
}

.menu-link {
  color: #254dff;
  font-size: 1.1rem;
  text-align: center;
  white-space: nowrap;
  align-self: center;
}

.menu-link:hover {
  color: blue;
  font-size: 1.1rem;
}

.menu-logo {
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
}

.App-header {
  color: black;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-divider {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border: none;
}

.header-content {
  padding: 2.5rem;
}

.App-header h1 {
  font-size: 3rem;
}

.App-header h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.App-header p {
  font-size: 1.1rem;
  max-width: 944px;
  line-height: 1.5;
}

.header-img-container {
  max-height: 280px;
  overflow: hidden;
  display: block;
}

.header-img {
  height: 300px;
  display: block;
  margin: 35px auto 0 auto;
  opacity: 0.7;
}

.clickable {
  background-color: white;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
}

.MobileOnly {
  display: none;
}

@media screen and (max-width: 768px) {
  #root div:first-child {
    z-index: 1;
  }
  #root div:last-child {
    z-index: 2;
  }
  .App-header h1 {
    font-size: 2rem;
  }
  .App-header h3 {
    font-size: 1.25rem;
  }
  .App-header p {
    font-size: 1rem;
  }
  .MobileOnly {
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .App-header {
    grid-template-columns: 1fr;
  }
  .menu-header {
    display: none;
  }
  .header-img-container {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .App-header {
    grid-template-columns: 1fr;
  }
  .header-content {
    padding: 1.5rem;
  }
}

.ModalHeader {
  position: sticky;
  top: 0;
  display: block;
}

.modal-container {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.modal-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.footer-header {
  text-align: center;
  padding: 2.5rem 2.5rem 4rem 2.5rem;
}
